$color1: #354052;
$color2: #444444;
$color3: #4c4c4c;
$color4: #2361ac;
$color5: #747c88;
$color6: #707070;
$color7: #2583e9;
$color8: #000000;
$color9: #ffffff;
$color10: #b2b2b2;
$color11: #f3f5f8;
$color12: #ebebeb;
$color13: #b5b5b5;
$color14: #000c20;
$color15: #dd3d29;
$color16: #cbcbcb;
$color17: #004b91;
$color18: #1e1e1e;
$color19: #858585;
$color20: #777777;
$color21: #a8a8a8;
